<!DOCTYPE html>
<html class="blue-grey darken-4" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blue-grey darken-4">
	<div class="container">
		<div class="row">
			<h2 style="color: rgb(99, 255, 240)">EDIT USER</h2>
			<form th:object="${userDTO}" th:action="@{/users/{id}/edit (id= *{id}) }"
				method="POST" class="col s12">
				<div class="row">
					<div class="input-field col s12">
			          <input style="color: rgb(255, 255, 255)" disabled th:field="*{id}" id="disabled" type="text" class="validate">
			          <label for="disabled">Id</label>
			        </div>
					<div class="input-field col s6">
						<input style="color: rgb(255, 255, 255)" id="first_name"
							type="text" class="validate" th:field="*{name}"> <label
							for="first_name">First Name</label> <span
							style="color: rgb(255, 255, 255)" class="helper-text"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input style="color: rgb(255, 255, 255)"
							placeholder="real-email@email.com" id="email" type="email"
							class="validate" th:field="*{email}"> <label for="email">Email</label>
						<span style="color: rgb(255, 255, 255)" class="helper-text"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit"
					name="action">Edit</button>
				<p th:text="${error}" class="center-align cyan darken-4 z-depth-1"
					style="color: rgb(255, 255, 255)">error</p>
			</form>
		</div>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
	</div>
</body>