@charset "UTF-8";

table.striped>tbody>tr:nth-child(odd) {
	background-color: rgb(49, 94, 92);
}

h1, h2, h3, h4 {
	color: rgb(99, 255, 240);
}

.dark-green-line {
	color: white; 
	background-color: rgb(54 108 101)
}

input {
	color: white;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}