<!DOCTYPE html>
<html class="blue-grey darken-4" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
		<title>Report</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
			media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="css/style.css"
			media="screen,projection" />
		<link rel="icon" type="image/x-icon" href="icon/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style type="text/css">
		input {color: black;}
	</style>
</head>
<body class="blue-grey darken-4">
	<nav class="teal lighten-1">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo right">REPORT</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger">
				<i class="material-icons">menu</i></a>
			<ul class="left hide-on-med-and-down">
				<li><a href="/">Imports</a></li>
				<li><a href="/users">Users</a></li>
				<li>
					<div>
					    <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
					    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
					        <input hidden type="submit" value="Sign Out" />
					    </form>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav blue-grey lighten-3" id="mobile-demo">
		<li><a href="/">Imports</a></li>
		<li><a href="/users">Users</a></li>
		<li><a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a></li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col s12">
	
				<h2>Suspicious Transaction Analysis</h2>
				
				<form name="report" th:action="@{/report}" method="GET">
					<div class="input-field">
			        	<input id="date" type="text" name="date" class="datepicker" style="color:white">
			        	<label for="date">Month / Year</label>
			        </div>
			        <button type="submit" class="btn waves-effect waves-light">Perform analysis</button>
		        </form>
		        
        		<p th:if="${noTransactions == true}" class="center-align z-depth-1 dark-green-line">
        				No transactions uploaded in this date.</p>
        				
		        <div th:if="${noTransactions == false}">
		        
		        	<h4 th:text="${#temporals.format(date, 'MM/yyyy')}" style="text-align: right;"></h4>

					<p th:if="${#lists.isEmpty(transactions) and
	        			#lists.isEmpty(accounts) and
	        			#lists.isEmpty(agencies)}"
					   class="center-align z-depth-1 dark-green-line">No frauds detected.</p>
        
					<div th:if="${not #lists.isEmpty(transactions)}">
					
						<h4>Suspicious Transactions</h4>
						
						<table class="z-depth-3 striped responsive-table dark-green-line">
							<thead>
								<tr>
									<th>ORIGIN</th>
									<th>DESTINATION</th>
									<th></th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<table class="striped responsive-table dark-green-line">
											<thead>
												<tr>
													<th>BANK</th>
													<th>AGENCY</th>
													<th>ACCOUNT</th>
												<tr>
											</thead>
											<tbody>
												<tr th:each="transaction: ${transactions}">
													<td th:text="${transaction.origin.bank}"></td>
													<td th:text="${transaction.origin.agency}"></td>
													<td th:text="${transaction.origin.account}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table class="striped responsive-table dark-green-line">
											<thead>
												<tr>
													<th>BANK</th>
													<th>AGENCY</th>
													<th>ACCOUNT</th>
												<tr>
											</thead>
											<tbody>
											<tr th:each="transaction: ${transactions}">
												<td th:text="${transaction.destination.bank}"></td>
												<td th:text="${transaction.destination.agency}"></td>
												<td th:text="${transaction.destination.account}"></td>
											</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table class="striped responsive-table dark-green-line">
											<thead>
												<tr>
													<th>VALUE</th>
												<tr>
											</thead>
											<tbody>
											<tr th:each="transaction: ${transactions}">
												<td th:text="${#numbers.formatCurrency(transaction.value)}"></td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div th:if="${not #lists.isEmpty(accounts)}">
					
						<h4>Suspicious Accounts</h4>
						
						<table class="z-depth-3 striped responsive-table dark-green-line">
							<thead>
								<tr>
									<th>BANK</th>
									<th>AGENCY</th>
									<th>ACCOUNT</th>
									<th>VALUE</th>
									<th>TYPE</th>
								<tr>
							</thead>
							<tbody>
								<tr th:each="fraud: ${accounts}">
									<td th:text="${fraud.account.bank}"></td>
									<td th:text="${fraud.account.agency}"></td>
									<td th:text="${fraud.account.account}"></td>
									<td th:text="${#numbers.formatCurrency(fraud.value)}"></td>
									<td th:text="${fraud.type}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div th:if="${not #lists.isEmpty(agencies)}">
					
						<h4>Suspicious Agencies</h4>
						
						<table class="z-depth-3 striped responsive-table dark-green-line">
							<thead>
								<tr>
									<th>BANK</th>
									<th>AGENCY</th>
									<th>VALUE</th>
									<th>TYPE</th>
								<tr>
							</thead>
							<tbody>
								<tr th:each="fraud: ${agencies}">
									<td th:text="${fraud.agency.bank}"></td>
									<td th:text="${fraud.agency.agency}"></td>
									<td th:text="${#numbers.formatCurrency(fraud.value)}"></td>
									<td th:text="${fraud.type}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript">document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.datepicker');
		    var options = {
		    	    format: 'yyyy-mm',
		    	}
		    var instances = M.Datepicker.init(elems, options);
		  });</script>
		<script type="text/javascript">document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.sidenav');
		    var instances = M.Sidenav.init(elems);
		  });</script>
	</div>
</body>