<!DOCTYPE html>
<html class="blue-grey darken-4" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
		<title>Import Details</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
			media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="css/style.css"
			media="screen,projection" />
		<link rel="icon" type="image/x-icon" href="icon/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blue-grey darken-4">
	<nav class="teal lighten-1">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo right">IMPORT DETAILS</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger">
				<i class="material-icons">menu</i></a>
			<ul class="left hide-on-med-and-down">
				<li><a href="/">Imports</a></li>
				<li><a href="/users">Users</a></li>
				<li><a href="/report">Report</a></li>
				<li>
					<div>
					    <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
					    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
					        <input hidden type="submit" value="Sign Out" />
					    </form>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav blue-grey lighten-3" id="mobile-demo">
		<li><a href="/">Imports</a></li>
		<li><a href="/users">Users</a></li>
		<li><a href="/report">Report</a></li>
		<li><a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a></li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col s12">
	
				<h2>Import Details</h2>
				
				<table class="z-depth-3 striped responsive-table dark-green-line">
					<thead>
						<tr>
							<th>IMPORT IN</th>
							<th>IMPORT BY</th>
							<th>TRANSACTIONS DATE</th>
						<tr>
					</thead>
					<tbody>
						<tr>
							<td
								th:text="${#temporals.format(importInfo.importRealized, 'dd/MM/yyyy HH:mm')}"></td>
							<td
								th:text="${importInfo.importedBy}"></td>
							<td
								th:text="${#temporals.format(importInfo.transactionsDate, 'dd/MM/yyyy')}"></td>
						</tr>
					</tbody>
				</table>

				<h2>Transactions Imported</h2>
				
				<table class="z-depth-3 striped responsive-table dark-green-line">
					<thead>
						<tr>
							<th>ORIGIN</th>
							<th>DESTINATION</th>
							<th></th>
						<tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<table class="striped responsive-table dark-green-line">
									<thead>
										<tr>
											<th>BANK</th>
											<th>AGENCY</th>
											<th>ACCOUNT</th>
										<tr>
									</thead>
									<tbody>
										<tr th:each="transaction: ${transactions}">
											<td th:text="${transaction.origin.bank}"></td>
											<td th:text="${transaction.origin.agency}"></td>
											<td th:text="${transaction.origin.account}"></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table class="striped responsive-table dark-green-line">
									<thead>
										<tr>
											<th>BANK</th>
											<th>AGENCY</th>
											<th>ACCOUNT</th>
										<tr>
									</thead>
									<tbody>
									<tr th:each="transaction: ${transactions}">
										<td th:text="${transaction.destination.bank}"></td>
										<td th:text="${transaction.destination.agency}"></td>
										<td th:text="${transaction.destination.account}"></td>
									</tr>
									</tbody>
								</table>
							</td>
							<td>
								<table class="striped responsive-table dark-green-line">
									<thead>
										<tr>
											<th>VALUE</th>
										<tr>
									</thead>
									<tbody>
									<tr th:each="transaction: ${transactions}">
										<td th:text="${#numbers.formatCurrency(transaction.value)}"></td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

				<div th:if="${transactions.totalPages != 0}" class="card col m3 left dark-green-line">
					Per page:
					<a class="white-text" th:href="@{/{date} (date= ${importInfo.transactionsDate}, size=25, page=1)}">25</a>
					<a class="white-text" th:href="@{/{date} (date= ${importInfo.transactionsDate}, size=50, page=1)}">50</a>
					<a class="white-text" th:href="@{/{date} (date= ${importInfo.transactionsDate}, size=100, page=1)}">100</a>
				</div>

				<div th:if="${transactions.totalPages != 0}" class="card col m3 right dark-green-line">
					<a th:class="${transactions.number == 0} ? 'white-text disabled' : 'white-text'"
					   th:href="@{/{date} (date= ${importInfo.transactionsDate}, size=${transactions.size}, page=1)}">&laquo;&nbsp
					</a>
					<a th:class="${transactions.number == 0} ? 'white-text disabled' : 'white-text'"
					   th:href="@{/{date} (
					   		date= ${importInfo.transactionsDate},
					   		size=${transactions.size},
					   		page=${transactions.number})}">&larr;&nbsp
					</a>
					<a th:class="${transactions.number == (page - 1)} ?
							'white-text active pointer-disabled' : 'white-text'"
					   th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"
					   th:href="@{/{date} (date= ${importInfo.transactionsDate}, size=${transactions.size}, page=${page})}"
					   th:text="${page} + '&nbsp'">
					</a>
					<a th:class="${transactions.number + 1 == transactions.totalPages} ?
							'white-text disabled' : 'white-text'"
					   th:href="@{/{date} (
					   		date= ${importInfo.transactionsDate},
					   		size=${transactions.size},
					   		page=${transactions.number + 2})}">&rarr;&nbsp
					</a>
					<a th:class="${transactions.number + 1 == transactions.totalPages} ?
							'white-text disabled' : 'white-text'"
					   th:href="@{/{date} (
					   		date= ${importInfo.transactionsDate},
					   		size=${transactions.size},
					   		page=${transactions.totalPages})}"
					   th:text="'&raquo;&nbsp' + ${transactions.totalPages}">
					</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript">document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.sidenav');
		    var instances = M.Sidenav.init(elems);
		  });</script>
	</div>
</body>